out
node_modules
template-packages/*/node_modules
.vscode-test/
*.vsix
*.zip
package-lock.json
demo/donate.html
demo/api.html
yarn-error.log
*.log
*.tsbuildinfo
.DS_Store

template/leek-center/build
template-packages/leek-center/.eslintcache
!template-packages/leek-center/yarn.lock

.idea
.codebuddy/
